
@page "/AdvCreate"


<h3>Подать заявление:</h3>
<p></p>
<div id="primary" class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-12">
                <div class="site-content-block">
                    <div class="main-content">
                        <div id="post-6" class="post-6 page type-page status-publish">
                            <div class="rtcl">
                                <div class="rtcl rtcl-login-form-wrap">
                                    <form class="rtcl-form rtcl-login-form" method="post" novalidate="novalidate">
                                        <CreatorADV />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
